.counter-container {
    border: 3px dotted white;
    border-radius: 20px;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 10px;

    button {
        color: white;
        background-color:black;
        border: 3px solid white;
        margin: 5px;
        width: 120px;
        height: 60px;
        border-radius: 10px
    }
}
