.time-container {
    border: 3px dotted white;
    border-radius: 20px;
    width: 400px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 10px;
}
