.app {
    text-align: center;
    width: 400px;
    height: 200px;
}

.counter-container {
    border: 1px solid black;
    border-radius: 20px;
    width: 400px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.time-container {
    border: 1px solid black;
    border-radius: 20px;
    width: 400px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

}
