.counter-container {
    border: 1px solid black;
    border-radius: 20px;
    width: 400px;
    height: 200px;
}

.time-container {
    border: 1px solid black;
    border-radius: 20px;
    width: 400px;
    height: 200px;

}
